### RIMV Cleansing

In [7]:
import pandas as pd
vaccine_df = pd.read_csv("vaccine_data.csv", delimiter = ";")
print(vaccine_df)

      Year of Birth   Vaccine registration      Vaccine    Location
0   1931 or earlier   From 25 January 2021     BioNTech   Groningen
1       1932 - 1936   From 29 January 2021       Pfizer      Arnhem
2       1937 - 1941   From 5 February 2021       Pfizer       Breda
3       1942 - 1946      From 6 March 2021      Moderna   Harlingen
4       1947 - 1951      From 6 April 2021      Moderna        Edam
5       1952 - 1955     From 15 April 2021  AstraZeneca   Amsterdam
6       1956 - 1957  From 15 February 2021  AstraZeneca     Sittard
7       1958 - 1960     From 15 April 2021      Moderna   Rotterdam
8       1961 - 1971     From 27 April 2021      Janssen   Groningen
9       1972 - 1981   From early June 2021      Janssen      Arnhem
10      1982 - 1991     From mid-June 2021      Moderna       Breda
11    1992 or later     From mid-June 2021     BioNTech  Maastricht

In [6]:
#Write a Python function that prints the Vaccine location, by taking the year as input
def vaccine_location(year):
    if (year <= 1931) or (1961 <= year <= 1971):
        print("Groningen")
    elif (1932 <= year <= 1936) or (1972 <= year <= 1981):
        print("Arnhem")
    elif (1937 <= year <= 1941) or (1982 <= year <= 1991):
        print("Breda")
    elif (1942 <= year <= 1946):
        print("Harlingen")
    elif (1947 <= year <= 1951):
        print("Edam")
    elif (1952 <= year <= 1955):
        print("Amsterdam")
    elif (1956 <= year <= 1957):
        print("Sittard")
    elif (1958 <= year <= 1960):
        print("Rotterdam")
    elif (year >= 1992):
        print("Maastricht")
year = int(input('Enter birth year:' ))
vaccine_location(year)

Breda

In [10]:
#Write a Python function that creates 2 additional columns "Start Year" and "End Year" for the "Year of Birth" column. 
#(Consider 1900 as the lowest year, and 2023 as the highest year for first and last data point)
def new_cols():
    vaccine_df["Year of Birth"] = vaccine_df["Year of Birth"].replace("1931 or earlier", "1900 - 1931")
    vaccine_df["Year of Birth"] = vaccine_df["Year of Birth"].replace("1992 or later", "1992 - 2023")
    vaccine_df[["Start Year", "End Year"]] = vaccine_df["Year of Birth"].str.split("-", expand=True)
    vaccine_df["Start Year"] = pd.to_numeric(vaccine_df["Start Year"])
    vaccine_df["End Year"] = pd.to_numeric(vaccine_df["End Year"])
    print(vaccine_df)
new_cols()

   Year of Birth   Vaccine registration      Vaccine    Location  Start Year  \
0    1900 - 1931   From 25 January 2021     BioNTech   Groningen        1900
1    1932 - 1936   From 29 January 2021       Pfizer      Arnhem        1932
2    1937 - 1941   From 5 February 2021       Pfizer       Breda        1937
3    1942 - 1946      From 6 March 2021      Moderna   Harlingen        1942
4    1947 - 1951      From 6 April 2021      Moderna        Edam        1947
5    1952 - 1955     From 15 April 2021  AstraZeneca   Amsterdam        1952
6    1956 - 1957  From 15 February 2021  AstraZeneca     Sittard        1956
7    1958 - 1960     From 15 April 2021      Moderna   Rotterdam        1958
8    1961 - 1971     From 27 April 2021      Janssen   Groningen        1961
9    1972 - 1981   From early June 2021      Janssen      Arnhem        1972
10   1982 - 1991     From mid-June 2021      Moderna       Breda        1982
11   1992 - 2023     From mid-June 2021     BioNTech  Maastricht        1992

    End Year
0       1931
1       1936
2       1941
3       1946
4       1951
5       1955
6       1957
7       1960
8       1971
9       1981
10      1991
11      2023

In [12]:
#Write a Python function that creates 2 additional columns "Age max" and "Age min" for the "Year of Birth" column. 
#(i.e, for 1992, the Age max would be 32 and age min would be 1)
def add_age_cols():
    current_year = 2023
    vaccine_df["Age min"] = current_year - vaccine_df["End Year"]
    vaccine_df["Age max"] = current_year - vaccine_df["Start Year"]
    print(vaccine_df)
add_age_cols()

   Year of Birth   Vaccine registration      Vaccine    Location  Start Year  \
0    1900 - 1931   From 25 January 2021     BioNTech   Groningen        1900
1    1932 - 1936   From 29 January 2021       Pfizer      Arnhem        1932
2    1937 - 1941   From 5 February 2021       Pfizer       Breda        1937
3    1942 - 1946      From 6 March 2021      Moderna   Harlingen        1942
4    1947 - 1951      From 6 April 2021      Moderna        Edam        1947
5    1952 - 1955     From 15 April 2021  AstraZeneca   Amsterdam        1952
6    1956 - 1957  From 15 February 2021  AstraZeneca     Sittard        1956
7    1958 - 1960     From 15 April 2021      Moderna   Rotterdam        1958
8    1961 - 1971     From 27 April 2021      Janssen   Groningen        1961
9    1972 - 1981   From early June 2021      Janssen      Arnhem        1972
10   1982 - 1991     From mid-June 2021      Moderna       Breda        1982
11   1992 - 2023     From mid-June 2021     BioNTech  Maastricht        1992

    End Year  Age min  Age max
0       1931       92      123
1       1936       87       91
2       1941       82       86
3       1946       77       81
4       1951       72       76
5       1955       68       71
6       1957       66       67
7       1960       63       65
8       1971       52       62
9       1981       42       51
10      1991       32       41
11      2023        0       31

In [14]:
#Write a Python function that creates an additional column "Vaccine registration date" based on "Vaccine registration" column.
#This has to be in date format.
def vaccine_registration():
    vaccine_df["Vaccine registration"] = vaccine_df["Vaccine registration"].str.replace("From ", "")
    vaccine_df["Vaccine registration"] = vaccine_df["Vaccine registration"].str.replace("early ", "1 ")
    vaccine_df["Vaccine registration"] = vaccine_df["Vaccine registration"].str.replace("mid-", "15 ")
    vaccine_df["Vaccine registration date"] = pd.to_datetime(vaccine_df["Vaccine registration"], errors='coerce')
    print(vaccine_df)
vaccine_registration()

   Year of Birth Vaccine registration      Vaccine    Location  Start Year  \
0    1900 - 1931      25 January 2021     BioNTech   Groningen        1900
1    1932 - 1936      29 January 2021       Pfizer      Arnhem        1932
2    1937 - 1941      5 February 2021       Pfizer       Breda        1937
3    1942 - 1946         6 March 2021      Moderna   Harlingen        1942
4    1947 - 1951         6 April 2021      Moderna        Edam        1947
5    1952 - 1955        15 April 2021  AstraZeneca   Amsterdam        1952
6    1956 - 1957     15 February 2021  AstraZeneca     Sittard        1956
7    1958 - 1960        15 April 2021      Moderna   Rotterdam        1958
8    1961 - 1971        27 April 2021      Janssen   Groningen        1961
9    1972 - 1981          1 June 2021      Janssen      Arnhem        1972
10   1982 - 1991         15 June 2021      Moderna       Breda        1982
11   1992 - 2023         15 June 2021     BioNTech  Maastricht        1992

    End Year  Age min  Age max Vaccine registration date
0       1931       92      123                2021-01-25
1       1936       87       91                2021-01-29
2       1941       82       86                2021-02-05
3       1946       77       81                2021-03-06
4       1951       72       76                2021-04-06
5       1955       68       71                2021-04-15
6       1957       66       67                2021-02-15
7       1960       63       65                2021-04-15
8       1971       52       62                2021-04-27
9       1981       42       51                2021-06-01
10      1991       32       41                2021-06-15
11      2023        0       31                2021-06-15

### Titanic Cleansing

In [16]:
import pandas as pd
titanic_data = pd.read_csv("train.csv")
print(titanic_data.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [35]:
#How many rows and columns does the data contain?
rows, columns = titanic_data.shape
print("# of rows:", rows, "\n# of columns:", columns)

# of rows: 891
# of columns: 12

In [20]:
#Are there any missing values?
if titanic_data.isna().any().any():
    print(f"There are missing values in the dataframe")

There are missing values in the dataframe

In [50]:
#How many woman were on the ship?
def women_count(data):
    counter = (data['Sex'] == 'female').sum()
    return counter
value = women_count(titanic_data)
print(f"There were {value} women on the ship")

There were 314 women on the ship

In [55]:
#What was the average age of all passengers on the ship?
titanic_data.fillna(0)
def avg_pas_age(titanic_data):
    average_age = titanic_data["Age"].mean()
    return average_age
average_age = avg_pas_age(titanic_data)
print(f"The average age of all passengers was {average_age}")

The average age of all passengers was 29.69911764705882

In [44]:
#Which sex had a higher chance of surviving the disaster?
fem_survived = (titanic_data[(titanic_data["Sex"] == 'female') & (titanic_data["Survived"] == 1)]).shape[0]
male_survived = (titanic_data[(titanic_data["Sex"] == 'male') & (titanic_data["Survived"] == 1)]).shape[0]
total_survived = (titanic_data["Survived"] == 1).sum()
chance_of_survival_fem = fem_survived / total_survived
chance_of_survival_male = male_survived/ total_survived
if chance_of_survival_fem > chance_of_survival_male:
    print(f'Females had a higher chance of survival ({chance_of_survival_fem})')
else:
    print(f'Males had a higher chance of survival ({chance_of_survival_male})')

Females had a higher chance of survival (0.6812865497076024)

In [55]:
#Group the data into age groups (young, adult, old) and find which age group had the highest chance of survival?
#ages less than or equal to 18 are classified as young.
#ages greater than 18 but lesser than or equal to 60 are classified as adult.
#ages greater than 60 are classified as old.
titanic_data.dropna()
young_survived = (titanic_data[(titanic_data["Age"] <= 18) & (titanic_data["Survived"] == 1)]).shape[0]
adult_survived = (titanic_data[(titanic_data["Age"] <= 60) & (titanic_data["Survived"] == 1)]).shape[0]
old_survived = (titanic_data[(titanic_data["Age"] >60 ) & (titanic_data["Survived"] == 1)]).shape[0]
total_survived = (titanic_data["Survived"] == 1).sum()
chance_of_survival_young = young_survived/total_survived
chance_of_survival_adult = adult_survived/total_survived
chance_of_survival_old = old_survived/total_survived
if (chance_of_survival_young > chance_of_survival_adult) & (chance_of_survival_young > chance_of_survival_old):
    print(f'Young people had a higher chance of survival ({chance_of_survival_young})')
elif (chance_of_survival_adult > chance_of_survival_young) & (chance_of_survival_adult > chance_of_survival_old):
    print(f'Adults had a higher chance of survival ({chance_of_survival_adult})')
else:
    print(f'Old people had a higher chance of survival ({chance_of_survival_old})')

Adults had a higher chance of survival (0.8333333333333334)

### Unit testing

In [29]:
#Ensuring that you read in the dataset correctly (use the number of rows and columns as a test parameter)
import pytest
import pandas as pd
df = pd.read_csv("train.csv")
expected_rows = 891
expected_cols = 13
assert df.shape[0] == expected_rows, f'Expected {expected_rows} rows, but got {df.shape[0]} rows'
assert df.shape[1] == expected_cols, f'Expected {expected_cols} columns, but got {df.shape[1]} columns'

AssertionError: Expected 13 columns, but got 12 columns

In [83]:
#Check if the function you created in the previous exercise to count the number of woman in the dataset returns the correct values, 
#when you pass in the dummy dataset in place of the original dataset.
dummy_data = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Eve'],
    'Sex': ['female', 'male', 'female', 'female', 'female'],
    'Age': [25, 30, 22, 35, 28]
    })
test_num_of_women = women_count(dummy_data)
assert women_count(dummy_data) == 4, f"Expected 4 number of women" 
print('Function works')

Function works

In [82]:
#Check if the function you created in the previous exercise to return the average age of all passengers.
what_it_should_asses = (25 + 30 + 22 + 35 + 28)/5
print(f"what it should return: {what_it_should_asses}")
dummy_data = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Eve'],
    'Sex': ['female', 'male', 'female', 'female', 'female'],
    'Age': [25, 30, 22, 35, 28]
    })
test_avg_pas_age = avg_pas_age(dummy_data)    
assert test_avg_pas_age == 28,f'Expected 28 average age of all passengers' 
print('Everything seems fine!')

what it should return: 28.0
Everything seems fine!

### Integration challenge!

In [23]:
def find_vaccination_location_for_passengers(df_titanic, df_vaccination):
    for index, row in df_titanic.iterrows():
        matching_indices = df_vaccination.loc[(df_vaccination['Age min'] <= row['Age']) & (df_vaccination['Age max'] >= row['Age'])].index
        if not matching_indices.empty:
            index_vac = matching_indices[0]
            df_titanic.at[index, 'Vaccination location'] = df_vaccination.at[index_vac, 'Location']

    return df_titanic

find_vaccination_location_for_passengers(titanic_data, vaccine_df)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Vaccination location
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Maastricht
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Breda
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Maastricht
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Breda
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Breda
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,Maastricht
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,Maastricht
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,NaN
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,Maastricht
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,Breda